{
  "plugins": [
    "@babel/plugin-transform-runtime"
  ],
  "presets": [
    ["@babel/preset-env", {
	"targets": {
          "node": "12.22.2"
        }
    }]
  ],
  "assumptions": {
    "privateFieldsAsProperties": true,
    "setPublicClassFields": true
  }
}
